.search-bar-container {
  display: flex;
  width: 600px;
  padding: 0 0 0 10px;
}

.search-bar-container__input.light {
  background-color: var(--light-input);
}
.search-bar-container__input.dark {
  background-color: var(--dark-input);
}
