#workout-template-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.template-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  color: var(--primary-color);
  margin: 20px 0 10px 20px;
}

.select-exercise-button {
  margin-left: auto;
  flex: 1;
  margin: 20px 0 10px 20px;
  font-size: 16px;
  width: 350px;
}

#start-empty-container {
  display: flex;

  width: auto;
  margin: 20px 0 20px 0px;
}

#start-empty-container button {
  flex-grow: 1;
}

#template-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#create-new-template-btn {
  width: 50%;
}
