#workout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  gap: 20px; /* Adjust the space between grid items */
  padding: 20px;
}

.template-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  color: var(--primary-color);
  margin: 20px 0 10px 20px;
}

.select-exercise-button {
  margin-left: auto;
  flex: 1;
  margin: 20px 0 10px 20px;
  font-size: 16px;
  width: 350px;
}

#start-empty-container {
  display: flex;
  padding: 0;
  margin: 20px 0 10px 25px;
}

#start-empty-container button {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
