.muscle-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.muscle-group img {
  width: 100%; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image round */
}

.muscle-group p {
  text-align: center;
}
