.program-container {
  background-color: #81d3ff;
  width: 600px;
  box-shadow: 2.6px 5.3px 5.3px hsla(0, 0%, 40%, 0.42);
  margin-left: 20px;
}

#create-program-header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  margin-top: 30px;
}

.page-title,
.section-title {
  padding-left: 50px;
  font-family: courier, monospace;
}
