.create-prog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-prog-container__left {
  width: 60%;
  margin-right: 20px;
}

.create-prog-container__right {
  width: 35%;
}

.create-prog-container__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.create-prog-container__header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  margin-top: 30px;
}

.create-prog-container__title {
  padding-left: 50px;
  font-family: courier, monospace;
}
