.create-prog-page__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
}
.toggle-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 10;
  margin-top: 90px;
}

.create-prog-page__left-container {
  flex-grow: 0;
  width: 650px;
  margin-right: 20px;
}

.create-prog-page__right-container {
  flex-grow: 0;
  width: 35%;
}

.create-prog-page__title {
  padding-left: 20px;
}

.create-prog-page__exercise-container-title {
  padding-left: 20px;
  font-size: 26px;
}

@media screen and (max-width: 800px) {
  .create-prog-page__container {
    flex-direction: column;
  }

  .create-prog-page__left-container,
  .create-prog-page__right-container {
    width: 100%;
    margin-right: 0;
  }
}
