#exercise-filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

#dropdown-equipment,
#dropdown-muscle {
  width: 100%;
}
