.button-container {
  display: flex; /* Enables flexbox layout for children */
  flex-wrap: wrap; /* Allows children to wrap to the next line if there's not enough space */
  gap: 10px; /* Adds some space between the child elements */
  justify-content: center; /* Centers the child elements horizontally */
  padding: 10px; /* Adds some padding inside the container */
}

.button-container button {
  flex: 1; /* Each child flex item will grow to fill the space */
  padding: 10px; /* Adds some padding inside the button for better touch */
  border: none; /* Removes the border around the button */
  border-radius: 5px; /* Optional: Rounds the corners of the button elements */
}

#save-template-button {
  width: 50%;
}
.slide-container {
  overflow: hidden;
  /* background-color: aquamarine; */
}

.exercise-container,
.template-details {
  transition: transform 0.5s ease-in-out;
}

.template-details {
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding */
}

/* slide-in styles */

.exercise-container-slide-in {
  animation: slideInRight 0.5s forwards;
  transform: translateX(0);
  display: flex;
}
.template-details-slide-in {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px 0;
  margin: 0 10px;
  animation: slideInRight 0.5s forwards;
  transform: translateX(0);
  display: flex;
  top: 400px;
  width: 600px;
}

/* slide-out styles */

.exercise-container-slide-out {
  display: none;
}

.template-details-slide-out {
  display: none;
}
