.workout-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: hidden;
  width: calc(680px + 10px);
  margin: 20px;
}

.workout-container {
  flex-shrink: 0;
  width: calc(100% - 20px);
  transition: width 0.3s ease;
  margin-top: 35px;
}
.workout-container.active {
  width: 100%;
  flex: none;
}

.workout-container.light,
.workout-slider.light {
  background-color: rgb(204, 204, 202);
  box-shadow: rgba(72, 73, 74, 0.2) 0px 8px 24px;
}
.workout-container.dark,
.workout-slider.dark {
  background-color: rgb(50, 49, 54);
  box-shadow: rgba(184, 186, 187, 0.2) 0px 8px 24px;
}

.workout-container.active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.workout-container__header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.workout-container__title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

.workout-container__title {
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-container__title-input.light {
  background-color: var(--light-input);
}
.workout-container__title-input.dark {
  background-color: var(--dark-input);
}

/* Light theme specific styles */
.workout-container__title.light,
.workout-container__exercises_header.light,
.workout-container__exercises_name.light,
.workout-container__exercise-muscle,
.workout-container__exercise-order-number.light,
.workout-container__drag-order-container.light,
.workout-container__icon.light,
.workout-container__controls-button.light {
  color: var(--dark-text-color);
}

/* Dark theme specific styles */
.workout-container__title.dark,
.workout-container__exercises_header.dark,
.workout-container__exercises_name.dark,
.workout-container__exercise-muscle.dark,
.workout-container__exercise-order-number.dark,
.workout-container__drag-order-container.dark,
.workout-container__icon.dark,
.workout-container__controls-button.dark {
  color: var(--light-text-color);
}

#edit-icon {
  color: var(--orange);
  margin-right: 10px;
}

#expand-icon,
#collapse-icon {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: var(--orange);
}

#delete-icon {
  margin-left: 10px;
  color: var(--orange);
  cursor: pointer;
}
#collapse-icon {
  padding-left: 10px;
}

#delete-icon {
  padding-right: 10px;
}

.workout-container__expand-btn,
.workout-container__delete-btn,
.workout-container__remove-exercise-btn,
.workout-container__edit-title-btn,
.workout-container__close-title-btn,
.workout-container__save-title-btn {
  padding: 0;
  background: none;
  color: var(--dark-text-color);
  border-radius: 4px;
  font-size: 1.4em;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-container__expand-btn:hover,
.workout-container__delete-btn:hover {
  border-style: none;
}

.workout-container__no-exercise-message {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-text-color);
  margin: 20px;
  text-align: center;
}

.workout-container__exercises-header-container {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px; /* Adjust gap to suit your design */
}

.workout-container__exercises_header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.workout-container__drag-order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.workout-container__exercise-order-number {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.workout-container__exercise-drag {
  padding: 8px;
  cursor: grab;
}

.workout-container__each-exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dedede;
  margin: 10px 0;
}

.workout-container__exercise-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
}

.workout-container__exercise-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.workout-container__exercise-muscle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.workout-container__sets-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.workout-container__add-set-btn {
  color: #559857;
  cursor: pointer;
  margin: 0;
}

.workout-container__add-set-btn:hover {
  color: #4caf50;
}

.workout-container__add-set-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-container__controls {
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

.workout-container__controls.prev {
  background: none;
  left: 0;
  padding-left: 10px;
  transform: translateX(-100%);
}

.workout-container__controls.next {
  background: none;
  right: 0;
  padding-right: 10px;
  transform: translateX(100%);
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .workout-container__add-set-btn {
    margin-bottom: 10px;
  }
}
