.workout-container {
  width: 630px;
  margin-left: 20px;
  padding: 10px;
  margin: 25px 20px 20px 20px;
  border-radius: 10px;
}

.workout-container.light {
  background-color: rgb(204, 204, 202);
  box-shadow: rgba(72, 73, 74, 0.2) 0px 8px 24px;
}
.workout-container.dark {
  background-color: rgb(50, 49, 54);
  box-shadow: rgba(184, 186, 187, 0.2) 0px 8px 24px;
}

.workout-container.active {
  /* border: 4px solid rgb(198, 255, 53); */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 6px;
}

.workout-container__header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.workout-container__title_container {
  display: flex;
  align-items: center;
}

.workout-container__title {
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Light theme specific styles */
.workout-container__title.light,
.workout-container__exercises_header.light,
.workout-container__exercises_name.light,
.workout-container__exercise-muscle,
.workout-container__exercise-order-number.light,
.workout-container__drag-order-container.light {
  color: var(--dark-text-color);
}

/* Dark theme specific styles */
.workout-container__title.dark,
.workout-container__exercises_header.dark,
.workout-container__exercises_name.dark,
.workout-container__exercise-muscle.dark,
.workout-container__exercise-order-number.dark,
.workout-container__drag-order-container.dark {
  color: var(--light-text-color);
}
.workout-container__expand-btn,
.workout-container__delete-btn,
.workout-container__remove-exercise-btn,
.workout-container__edit-title-btn,
.workout-container__close-title-btn,
.workout-container__save-title-btn {
  padding: 0;
  background: none;
  color: var(--dark-text-color);
  border-radius: 4px;
  font-size: 1.4em;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-container__expand-btn:hover,
.workout-container__delete-btn:hover {
  border-style: none;
}

.workout-container__no-exercise-message {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-text-color);
  margin: 20px;
  text-align: center;
}

.workout-container__exercises-header-container {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px; /* Adjust gap to suit your design */
}

.workout-container__exercises_header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.workout-container__drag-order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
}

.workout-container__exercise-order-number {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.workout-container__exercise-drag {
  padding: 8px;
  cursor: grab;
}

.workout-container__each-exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dedede;
  margin: 10px 0;
}

.workout-container__exercise-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
}

.workout-container__exercise-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}

.workout-container__exercise-muscle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}

.workout-container__sets-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.workout-container__add-set-btn {
  color: #559857;
  cursor: pointer;
  margin: 0;
}

.workout-container__add-set-btn:hover {
  color: #4caf50;
}

.workout-container__add-set-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .workout-container__add-set-btn {
    margin-bottom: 10px;
  }
}
