.button-container {
  display: flex; /* Enables flexbox layout for children */
  flex-wrap: wrap; /* Allows children to wrap to the next line if there's not enough space */
  gap: 10px; /* Adds some space between the child elements */
  justify-content: center; /* Centers the child elements horizontally */
  padding: 10px; /* Adds some padding inside the container */
}

.button-container button {
  flex: 1; /* Each child flex item will grow to fill the space */
  padding: 10px; /* Adds some padding inside the button for better touch */
  border: none; /* Removes the border around the button */
  border-radius: 5px; /* Optional: Rounds the corners of the button elements */
}

#save-template-button {
  width: 50%;
}
.slide-container {
  display: flex;
  overflow: hidden;
}

.exercise-container,
.template-details {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.template-details {
  position: absolute;
  top: 100%; /* Adjust this value so it appears below your form */
  left: 0;
  width: 100%;
  padding: 20px;
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding */
}

.show-template-details {
  display: block; /* Show the div */
  animation: slideInRight 0.5s forwards; /* Your sliding animation */
}

.template-details select {
  width: 100%; /* Makes select fill the parent .template-detail container */
  padding: 5px; /* Adds some padding inside the select for better touch */
  border: none;
  border-radius: 5px; /* Optional: Rounds the corners of the select elements */
}

.slide-in {
  animation: slideInRight 0.5s forwards;
  transform: translateX(0);
}

/* Slide-out to the left for exercise-container */
.slide-out {
  transform: translateX(-100%); /* Move to the left */
}

/* arrow styles */

.next-arrow-container,
.back-arrow-container {
  position: fixed;
  top: 50%;
  /* Adjust the right value for next and left for back if needed */
  right: 0; /* for next arrow */
  left: 0; /* for back arrow */
  transform: translateY(-50%);
  z-index: 100;
}

.next-arrow {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

.back-arrow {
  position: fixed;
  top: 50%;
  right: auto;
  transform: rotate(90deg) translate(-50%, -50%);
}

.next-arrow span,
.back-arrow span {
  display: block;
  width: 4vw;
  height: 4vw;
  border-bottom: 10px solid var(--alt-text-color);
  border-right: 10px solid var(--alt-text-color);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.next-arrow span:nth-child(2),
.back-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.next-arrow span:nth-child(3),
.back-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

/* arrow animation */

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* back arrow styles */

/* slide in animation for going to exercise details */

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Slide out to the left */
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* slide out animation for going back to exercises */

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* style for exercise details */

.exercise-entry {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.exercise-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exercise-header img {
  width: 100px; /* Adjust as needed */
  margin-right: 10px;
}

.exercise-header h3 {
  margin: 0;
}

.sets-reps-container {
  display: flex;
  flex-direction: column;
}

.set-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.set-entry label {
  margin-right: 5px;
}

.set-entry input[type='number'] {
  width: 60px; /* Adjust as needed */
  padding: 5px;
  margin-right: 10px;
}

.set-entry button {
  padding: 5px 10px;
  margin-left: 5px;
}
