.workout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  width: 500px;
  background-color: var(--card-color);
  border-radius: 4px;
  height: 250px;
  border-style: solid;
}

.workout-title {
  font-weight: 800;
  font-size: 14pt;
  color: var(--primary-color);
}

.workout-description {
  font-size: 12pt;
  color: var(--background-color);
}

.template-section {
  display: flex; /* Establishes a flex container */
  align-items: center;
  justify-content: flex-start;
}

.template-section p {
  margin-right: 10px; /* Adds some space between the two paragraphs */
  white-space: nowrap; /* Prevents the text from wrapping */
}

.template-section-text {
  font-weight: 500;
  color: var(--light-text-color);
}

.template-section-title {
  font-weight: 800;
  color: var(--dark-text-color);
}
