.button-container {
  display: flex; /* Enables flexbox layout for children */
  flex-wrap: wrap; /* Allows children to wrap to the next line if there's not enough space */
  gap: 10px; /* Adds some space between the child elements */
  justify-content: center; /* Centers the child elements horizontally */
  padding: 10px; /* Adds some padding inside the container */
}

.button-container button {
  flex: 1; /* Each child flex item will grow to fill the space */
  padding: 10px; /* Adds some padding inside the button for better touch */
  border: none; /* Removes the border around the button */
  border-radius: 5px; /* Optional: Rounds the corners of the button elements */
}

#save-template-button {
  width: 50%;
}
