.button-container {
  display: flex; /* Enables flexbox layout for children */
  flex-wrap: wrap; /* Allows children to wrap to the next line if there's not enough space */
  gap: 10px; /* Adds some space between the child elements */
  justify-content: center; /* Centers the child elements horizontally */
  padding: 10px; /* Adds some padding inside the container */
}

.button-container button {
  flex: 1; /* Each child flex item will grow to fill the space */
  padding: 10px; /* Adds some padding inside the button for better touch */
  border: none; /* Removes the border around the button */
  border-radius: 5px; /* Optional: Rounds the corners of the button elements */
}

#save-template-button {
  width: 50%;
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.template-detail-container {
  display: flex; /* Enables flexbox layout for children */
  flex-wrap: wrap; /* Allows children to wrap to the next line if there's not enough space */
  gap: 10px; /* Adds some space between the child elements */
  justify-content: center; /* Centers the child elements horizontally */
  padding: 10px; /* Adds some padding inside the container */
}

.template-detail {
  flex: 1; /* Each child flex item will grow to fill the space */
  min-width: 150px; /* Minimum width before wrapping */
}

.template-detail select {
  width: 100%; /* Makes select fill the parent .template-detail container */
  padding: 5px; /* Adds some padding inside the select for better touch */
  border: none;
  border-radius: 5px; /* Optional: Rounds the corners of the select elements */
}
