.material-button {
  padding: 8px 16px;
  margin: 10px;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  color: var(--light-text-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.material-button:hover {
  background-color: var(--primary-color);
  /* Increase the shadow size on hover */
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.material-button:active {
  /* Slightly darken the button when clicked */
  background-color: var(--secondary-color);
  /* Smaller shadow to give a "pressed" effect */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button:focus {
  /* Optional: can add a focus style, such as a ring */
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 4px var(--primary-color);
}

.material-button:disabled {
  background-color: var(--card-color);
  color: var(--light-text-color);
  cursor: default;
  box-shadow: none;
}
