.dropdown-container {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  padding: 10px;
  background-color: var(--card-color);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  color: var(--light-text-color);
  font-size: 20px;
}

.dropdown-arrow {
  float: right;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  background: var(--card-color);
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px var(--dark-text-color);
  z-index: 1000;
  padding: 0;
  margin-top: 2px;
}

.dropdown-item {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  color: var(--light-text-color);
}

.dropdown-item:hover {
  background-color: var(--dark-text-color);
}
