.material-input {
  position: relative;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.material-input input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
  padding: 10px 0;
  font-size: 20px;
  background: var(--card-color);
}

.material-input input:focus,
.material-input input:not(:placeholder-shown) {
  border-bottom: 2px solid var(--primary-color);
}

.material-input label {
  position: absolute;
  bottom: 8px;
  left: 0;
  padding-left: 5px;
  color: var(--light-text-color);
  font-size: 18px;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.material-input input:focus + label,
.material-input input:not(:placeholder-shown) + label {
  transform: translateY(-150%);
  font-size: 16px;
  color: var(--primary-color);
}
