.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 25px;
  background: rgb(49, 50, 53);
  display: block;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s linear;
}

.toggle-ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: rgb(244, 32, 60);
  border-radius: 45px;
  transition: transform 0.2s linear, background-color 0.2s linear;
}

/* When the toggle is checked */
#theme-toggle-checkbox:checked + .toggle-label {
  background: rgb(49, 50, 53); /* Dark theme background */
}

#theme-toggle-checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(
    15px
  ); /* Adjust this value if needed for proper alignment */
  background: rgb(242, 57, 149); /* Dark theme ball */
}

.toggle-label:active .toggle-ball {
  width: 23px;
}
