:root {
  --primary-color: #43a36d;
  --secondary-color: #ff793f;
  --background-color: #ece8e8;
  --dark-text-color: #444444;
  --light-text-color: #ece8e8;
  --dark-card-color: #444444;
  --alt-text-color: #e74c3c;
  --dark-background: #444444;
  --light-background: #ced4d2;
  --light-card: #ece8e8;
  --penumbra-background: #444444;
  --pure-white: #e8e8e8;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overscroll-behavior: none;
}

/* Reset form elements */
input,
button,
textarea {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--light-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0957bd;
  text-decoration: inherit;
}
a:hover {
  color: #0957bd;
}

button {
  padding: 0.6em 1.2em;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--dark-card-color);
  cursor: pointer;
  border-radius: 4px;
}

input,
select,
textarea {
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: var(--pure-white);
  color: var(--dark-text-color);
  font-family: courier, monospace;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./assets/images/caret-down-sharp.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  border-style: none;
}

/* For Internet Explorer */
select::-ms-expand {
  display: none;
}

input::placeholder {
  font-size: 16px;
  color: var(--dark-text-color);
  opacity: 1;
}

label {
  font-size: 1.2em;
  font-weight: 500;
  color: #0957bd;
  padding-right: 10px;
}

.page-layout {
  padding: 35px;
  margin: 35px;
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: var(--dark-text-color);
}

.page-subtitle {
  color: var(--light-text-color);
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--dark-text-color);
  font-family: 'Courier New', Courier, monospace;
}
