.exercise {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1px;
  margin-bottom: 8px;
  width: 500px;
}

.image-container {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#exercise-image {
  width: 100%;
  height: auto;
}

.glass {
  position: absolute; /* Position over the image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Example semi-transparent overlay */
}

#exercise-details {
  flex-grow: 1; /* Adjust as needed */
  padding-left: 16px;
  min-width: 300;
}

#exercise-title,
#exercise-subtitle {
  margin: 0;
  white-space: nowrap;
}

.selected {
  border-color: rgb(198, 255, 53); /* Example to show a selected item */
}
