.exercise-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 400px;
  box-shadow: 2.6px 5.3px 5.3px hsla(0, 0%, 42%, 0.42);
  margin: 1px;
  background: #fff; /* Example background color */
  padding: 0.5rem;
  border-radius: 8px; /* Example border radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.exercise-container.light {
  /* Styles for light theme */
  background-color: var(--white);
  color: var(--black-text-color);
}

.exercise-container.dark {
  /* Styles for dark theme */
  background-color: var(--black);
  color: #ffffff;
}

.exercise-container--selected {
  border: 4px solid rgb(198, 255, 53);
  border-radius: 6px;
  background-color: rgba(198, 255, 53, 0.35);
}

.exercise-container__image-container {
  /* flex-shrink: 0; */
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.exercise-container__image {
  width: 100%;
  height: auto;
}

.exercise-container__glass {
  position: absolute; /* Position over the image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.exercise-container__glass.light {
  /* Styles for light theme */
  background-color: rgba(194, 181, 181, 0.5);
}
.exercise-container__glass.dark {
  /* Styles for light theme */
  background-color: rgba(0, 0, 0, 0.5);
}

.exercise-container__details {
  flex-grow: 1;
  padding-left: 16px;
  min-width: 300;
  font-family: 'Roboto', sans-serif;
}

.exercise-container__title,
.exercise-container__subtitle {
  color: #555;
  font-size: 16px;
  margin: 0;
}
.exercise-container__subtitle {
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .exercise-container {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5px auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .exercise-container--selected {
    border-radius: 4px; /* Smaller radius for a less chunky look */
  }

  .exercise-container__image-container {
    width: 80px; /* Smaller image container */
    height: 80px; /* Smaller image container */
  }

  .exercise-container__details {
    padding-left: 8px;
  }
  .exercise-container__title,
  .exercise-container__subtitle {
    color: #555;
    font-size: 10px;
    margin: 0;
    white-space: wrap;
  }
  .exercise-container__subtitle {
    font-weight: 400;
  }
}
