.card {
  font-family: 'Arial', sans-serif;
  width: 250px;
  border: 1px solid #585858;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}
.card-image {
  width: 100%;
  display: block;
}
.card-body {
  padding: 15px;
  background-color: #f4f4f4;
}
.card-title {
  margin: 10px 0;
  font-size: 24px;
  color: #d5d5d5;
}
.card-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}
.card-text {
  font-size: 16px;
  color: #777;
  line-height: 1.5;
}
