.view-prog-page__program {
  position: relative;
  max-width: 700px;
  margin: 0 auto 20px;
  padding: 10px 0;
  box-sizing: border-box;
}

.view-prog-page__program.light {
  background-color: rgb(204, 204, 202);
  box-shadow: rgba(72, 73, 74, 0.2) 0px 8px 24px;
}
.view-prog-page__program.dark {
  background-color: rgb(50, 49, 54);
  box-shadow: rgba(184, 186, 187, 0.2) 0px 8px 24px;
}
.view-prog-page__program-title {
  color: var(--orange);
  margin-left: 10px;
  font-weight: 400;
}

.view-prog-page__program-details {
  display: flex;
  margin: 5px 10px;
  flex-wrap: nowrap;
  align-items: center;
}

.view-prog-page__program-details-label {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 5px;
  color: var(--gray);
}
.view-prog-page__program-details-value {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0 5px;
  color: var(--dark-green);
}
