.view-prog-container__header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  margin-top: 30px;
}

.view-prog-container_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.view-prog-container__title {
  padding-left: 50px;
  font-family: courier, monospace;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: '. main main .' '. main main .';
  }
}
