.profile {
  padding: 35px;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--alt-text-color);
}

.slide-container {
  position: relative;
  overflow: hidden;
  height: auto;
}

.exercise-container,
.template-details {
  position: absolute;
  display: flex;
  top: 0%;
  width: 100%;
  height: 500px;
  transition: transform 0.5s ease-in-out;
}

.exercise-container {
  left: 0;
  background-color: cornflowerblue;
}

.template-details {
  right: -100%; /* Initially placed off-screen */
  background-color: darkorange;
}

.exercise-container.slide-out,
.template-details.slide-out,
.exercise-container.slide-in {
  transform: translateX(-100%);
}

.template-details.slide-in {
  right: 0;
  transform: translateX(0);
}

.template-details.slide-out,
.exercise-container.slide-in {
  transform: translateX(0);
}

/* Arrow styles (next and back) */

.next-arrow-container {
  position: absolute;
  top: 50%;
  right: 0;
}

.next-arrow {
  transform: translate(-50%, -50%) rotate(-90deg);
  right: 0;
}

.back-arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
}

.back-arrow {
  transform: rotate(90deg) translate(-50%, -50%);
  left: 0;
  padding-left: 20px;
  margin-left: 20px;
}

.next-arrow span,
.back-arrow span {
  display: block;
  width: 4vw;
  height: 4vw;
  border-bottom: 10px solid var(--alt-text-color);
  border-right: 10px solid var(--alt-text-color);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.next-arrow span:nth-child(2),
.back-arrow span:nth-child(2),
.next-arrow span:nth-child(3),
.back-arrow span:nth-child(3) {
  animation-delay: -0.2s; /* Apply to the second child of both arrows */
}

/* Keyframes */

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Simplified slide animations */

@keyframes slideInOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
