.workout {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 350px;
  height: 230px;
  background-color: var(--card-color);
  border-radius: 4px;
}

.workout:hover {
  background-color: var(--primary-color);
  /* Increase the shadow size on hover */
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.workout:hover .workout-title {
  color: var(--light-text-color);
}

.workout:active {
  /* Slightly darken the button when clicked */
  background-color: var(--secondary-color);
  /* Smaller shadow to give a "pressed" effect */
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.workout:focus {
  /* Optional: can add a focus style, such as a ring */
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 4px var(--primary-color);
}

.workout-title {
  font-weight: 800;
  font-size: 14pt;
  color: var(--primary-color);
}

.workout-description {
  font-size: 12pt;
  color: var(--background-color);
}

.template-section {
  display: flex; /* Establishes a flex container */
  align-items: center;
  justify-content: flex-start;
}

.template-section p {
  margin-right: 10px; /* Adds some space between the two paragraphs */
}

.template-section-text {
  font-weight: 500;
  color: var(--light-text-color);
}

.template-section-title {
  font-weight: 800;
  color: var(--dark-text-color);
}

/* Initial state of the accordion content, hidden */
.accordion-content {
  display: flex;
  flex-wrap: nowrap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* When accordion is open, we set a max-height large enough to show its content */
/* You might need to adjust this value based on your content */
.accordion-content {
  max-height: 150px;
}

.accordion-button {
  font-weight: 400;
  padding-top: 0px;
  margin: 2px;
  width: 100px;
}
