.day-container {
  background-color: #f5f5f5;
  width: 580px;
  box-shadow: 2.6px 5.3px 5.3px hsla(0, 0%, 40%, 0.42);
  margin-left: 20px;
  padding: 10px;
  margin: 20px;
}

button {
  margin: 5px;
}

.day-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

#day-card-title {
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#expand-day-card-button,
#delete-day-card-button {
  background: none;
  color: var(--dark-text-color);
  border-radius: 4px;
  font-size: 1.4em;
  font-weight: 900;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#expand-day-card-button:hover,
#delete-day-card-button:hover {
  color: var(--alt-text-color);
  border-style: none;
}
