.exercise-set__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.exercise-set__row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.exercise-set__order {
  font-family: 'Courier New', Courier, monospace;
  flex-grow: 1;
  width: 20px;
  border: none;

  font-size: 16px;
  border-radius: 4px;
}

.exercise-set__weight,
.exercise-set__reps {
  flex-grow: 1;
  width: 60px;
  border: none;
  margin-right: 5px;
  padding: 1px;
  font-size: 16px;
  border-radius: 4px;
}

.exercise-set__remove-set-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-set__remove-set-btn {
  color: #cb392f;
  padding: 0;
}

.exercise-set__remove-set-btn:hover {
  color: #f04a3e;
}

/* Styling for the drag handle if implemented */
.drag-handle {
  padding: 8px;
  cursor: grab;
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
  .exercise-set__container {
    flex-direction: column;
  }

  .exercise-set__weight,
  .exercise-set__reps {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .exercise-set__remove-set-btn {
    margin-bottom: 10px;
  }
}
